body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.img1{
    height: 100vh;
    object-fit: cover;
    position: relative;
    width: 100%;
    z-index: 0;
}
#prepDiv{
    margin-left: 2%;
}

.carousel{
    overflow: visible;
}
#formDiv{
    box-sizing: border-box;
    background-color: white;
    border-radius: 1%;
    height: 100vh;
    left: 0%;
    opacity: 80%;
    position: absolute;
    padding: 1%;
    top: 0%;
    z-index: 10;
}
#resultsDiv{
    left: 40%;
    position: absolute;
    padding: 1%;
    top: -5%;
    z-index: 10;
}

.k {
    color:rgb(121, 78, 22); 
    font-weight: bold;
    font-size: medium;
}
.k:hover {
   color: white;
   cursor: pointer;
   font-size: large; 
}
.range-field{
    margin: 15% 0% 0% 0%;
}
.carousel .carousel-item>img {
    /* opacity: 0%; */
    width: 200%;
}
.captionDiv{
top: 125%;
position: absolute;
left: 310%;
}
.clear{
    width: 25%;
    left: 15%;
    top: 5%;
}
.search{
    left: 15%;
    top: 5%;
}

.tabBody  {
    background-color: aliceblue;
    height: auto;
    width: auto;
    }


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 20;
    /* Sit on top */
    padding-top: 0px;
    padding-bottom: 0px;
    /* Location of the box */
    left: 0;
    top: 50px;
    width: 95%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color:white;
    /* Fallback color */
  opacity: 100%;
    /* Black w/ opacity */
    top: 20px;
    bottom: 20px;
    max-height: 90%;
}

/* Modal Content */
.modal-content {
    background-color:white;
    margin: auto;
    padding: 0px;
    border: 3px solid darkslategrey;
    width: 100%;
    height: 100%;
    opacity: 100%;
    border-image-width: 1px rgb(187, 187, 187);
    overflow: scroll;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.red, .blue, .green{
    background-color:white !important;
    overflow: hidden;
}
.select-wrapper input.select-dropdown{
    height: 2rem;
}

#allergies1{
    margin-left: 2rem;
}

#allergies2{
    margin-left: 2.7rem;
}

#allergies3{
    margin-left: 1rem;

}


.label {
    font-size: 1.1rem;
    color: white !important
}

.tabs {
    width: 98%;
    font-size: large;
    
}




.img2 {
    right: 30px;
    bottom: 15px;
    z-index: 0;
    position: absolute;
    width: 250px;
   
}
.tabBtn {
    color: rgb(70, 69, 69)!important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: medium !important;
    background-color:lightgray !important;
    border-radius: 10px 10px 0px 0px !important;
}

#searchbtn {
    left: 11rem;
    top: 11rem;
    background-color: peru;
}



.select-wrapper input.select-dropdown {
    height: 4rem;
}

.btnURL{
    margin-left: 6%;
    width: 10%;
    background-color: peru;
    color: white;
}
.pdiv{
    width: 25%;
}
.youtubeP{
    width: 25%;
}