body{
    margin: 0 auto;
}
.img1{
    height: 100vh;
    object-fit: cover;
    position: relative;
    width: 100%;
    z-index: 0;
}
.carousel{
    overflow: visible;
}
#formDiv{
    box-sizing: border-box;
    background-color: white;
    border-radius: 1%;
    height: 100vh;
    left: 0%;
    opacity: 80%;
    position: absolute;
    padding: 1%;
    top: 0%;
    z-index: 10;
}
#resultsDiv{
    left: 40%;
    position: absolute;
    padding: 1%;
    top: 0%;
    z-index: 10;
}
.range-field{
    margin: 15% 0% 0% 0%;
}
.carousel .carousel-item>img {
    /* opacity: 0%; */
    width: 200%;
}
.captionDiv{
top: 125%;
position: absolute;
left: 310%;
}
.modal{
    width: 20%;
}
.select-wrapper input.select-dropdown{
    height: 2rem;
}

#allergies1{
    margin-left: 2rem;
}

#allergies2{
    margin-left: 2.7rem;
}

#allergies3{
    margin-left: 1rem;
}
